*{margin:0;padding:0;}

/*tabMenu1*/
.tabMenu1{width:500px;height:300px;border:1px solid red;position:relative;}
.tabMenu1 dt{float:left;width:100px;height:60px;color:red;border:1px solid blue;}
.tabMenu1 dt.on{background:blue;color:white;}
.tabMenu1 dd{position:absolute;left:0;top:60px;width:100%;border:1px solid orange;display:none;} /*11점*/
.tabMenu1 dd.on{display:block;} /*21점*/

/*tabMenu2*/
ul{list-style: none;}
.tabMenu2{width:500px;}
.tab{display:flex;}
.tab li{padding:6px 14px; border:1px solid black;cursor:pointer;}
.tab li.on{background:black;color:white;}
.des p{display:none;}
.des p.on{display:block;}

/*tabMenu3*/
.tabMenu3{width:500px;border:1px solid red;}
.tab3{display:flex;}
.tab3 > li {padding:6px 14px;border:1px solid black;}
.des3{border:1px solid orange;min-height:200px;} /*height: 기본 값은 auto, 넘치면 흘러넘침, min-height:평상시 200px 유지 넘어서면 맞춰서 늘어남*/
